{#<div id="videoArea">#}
    {{ include('@Home/home/sub/presentationArea/videoArea.html.twig') }}
{#</div>#}

{#<div id="optionsArea">#}
    {{ include('@Home/home/sub/presentationArea/optionsArea.html.twig') }}
{#</div>#}