<div id='artistIconContent'
     style="
     position: absolute;
     opacity: 0;
     z-index: 2;
     color: white;
     font-size: xx-large;
     transition-property: all;
     transition-duration: 0.5s;">
    <p>ARTIST</p>
</div>